<h1>Flights</h1>

<%= form_with url: new_booking_path, method: :get do |form|%>

    <%p = params[:get]%>

    <% unless p == nil%>
        <% all_flights = Flight.where(
            from_airport_id: p["from_id"],
            to_airport_id: p["to_id"]).check_date(p["date"])
        %>

        <div>
            <%=form.submit%>
            <% all_flights.each do |flight|%>
                <ul>
                    <%=flight.from_airport.code %>
                    <%=flight.to_airport.code%>
                    <%=flight.datetime%>
                    <%=flight.id%>
                
                    <%=form.radio_button :flight_id, flight.id%>
                </ul> 
            <%end%>
            <%=form.hidden_field :num_tickets, value: p["num_tickets"]%>
        </div>
    <%end%>
<%end%>