<h1><b>Booking Information</b></h1>

<br>

<h2><i>Flight Information</i></h2>

<p>Flight ID</p>
<%=@booking.flight.id%>

<p>Departing from</p>
<%=@booking.flight.from_airport.code%>

<p>Arriving at</p>
<%=@booking.flight.to_airport.code%>

<p>Date</p>
<%=@booking.flight.date_dmy%>

<p>Departure Time</p>
<%=@booking.flight.time%>

<p>Duration</p>
<%="#{@booking.flight.duration} minutes"%>

<br><br>

<h2><i>Passenger Info</i></h2>

<%@booking.passengers.each do |p|%>
    <ul>
        <p><%=p.name%><p>
        <p><%=p.email%></p>
        <br>
    </ul>
<%end%>
