<h1>Booking Information</h1>

<h2>Flight Information</h2>

<p>Flight ID</p>
<%=@booking.flight.id%>

<p>Departing from</p>
<%=@booking.flight.from_airport.code%>

<p>Arriving at</p>
<%=@booking.flight.to_airport.code%>

<p>Date</p>
<%=@booking.flight.date_dmy%>

<p>Departure Time</p>
<%=@booking.flight.time%>

<p>Duration</p>
<%="#{@booking.flight.duration} minutes"%>

<h2>Passenger Info</h2>

<%@booking.passengers.each do |p|%>
    <ul>
        <p><%=p.name%><p>
        <p><%=p.email%></p>
        <br>
    </ul>
<%end%>
