<!DOCTYPE html>
<html>
  <head>
    <title>OdinFlightBooker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section class="hero is-primary is-small">
      <div class="hero-body">
          <h1 class="title">Odin-Flight-Booker</h1>
      </div>
    </section>
    <%= yield %>

    <%# <footer class="footer">
      <div class="content">
        <p>This is the footer</p>
      </div>
    </footer> %>
  </body>
</html>
